body {
	margin: 0;
	padding: 0;
	background-image: url("subtle_dot.png");
	background-repeat: repeat;
}

a{
	text-decoration: none;
	display: inline-block;
}

#section1{
	background-image: url("bg-slide1.jpg");
	height: 665px;
	background-size: cover;
	background-attachment: fixed;
}

#pos-sec1{
	top: 190px;
	text-align: center;
	position: relative;
	color: white;
}

#logo {
	height:110px;
	width:340px;
	cursor: pointer;
}

#quote-top {
	font-size: 80px;
	font-family: sans-serif;
	margin-top: 35px;
}

.svm-top{
	color: rgba(255,255,255,0.7);
	font-size: 30px;
	font-family: sans-serif;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 35px;
	border-right: 1px solid white;
	cursor: pointer;
}

#mobile{
	border-right: none;
}

.abtus-top{
	color: white;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	margin-left: 70px;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 30px;
}

.abtus-top:hover{
	border-bottom: 3px solid #a2d557 !important;
}

.active{
	border-bottom: 3px solid #a2d557;
}

#nav:hover{
	background-color: rgba(1,1,1,0.7);
}

.nav-fix{
	position: fixed;
	top:0;
	background-color: rgba(1,1,1,0.7);
	height: 73px;
	width: 100%;
	z-index: 1;
}

@keyframes example{
	0%{
		transform: scale(0,0);
		width:0px;
	}
	
	100%{
		transform: scale(0.4,0.4);
		width:220px;
	}
}

@keyframes example2{
	0%{
		transform: scale(0.4,0.4);
		width:220px;
	}
	
	100%{
		transform: scale(0,0);
		width:0px;
	}
}

#img-nav{
	display: none;
	vertical-align: top;
	margin:0;
	height:50px;
}

#img-nav:hover{
	border-bottom: none !important;
}

#navicon{
	display: none;
	padding-top: 10px;
	color:#a2d557;
	font-size: 25px;
}

#section2{
	text-align: center;
	padding-top: 130px;
	font-size: 50px;
	font-family: sans-serif;
}

#descrip{
	font-size: 30px;
	color: rgba(0,0,0,0.8);
}

#br1{
	display: none;
}

.coloured{
	color: #a2d557;
	line-height: 3;
	font-weight: bold;
}

.partners{
	margin-right: 40px; 
}

#section3{
	background: url("blurbg-slide2.jpg");
	height:1050px;
	background-size: cover;
	margin-top: 120px;
}

.black-dual{
	display: inline-block;
	width:33.33%;
	height: 1050px;
	background-color: rgba(1,1,1,0.4);
	vertical-align: top;
	text-align: center;
}

.black-dual-p{
	display: none;
	color: white;
	position: relative;
	top:100px;
	font-size: 25px;
}

.bg-img{
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 50%;
	padding: 5px;
}

.bg-img:hover{
	border-color: white;
}

#section3>div:nth-child(2){
	background-color: rgba(1,1,1,0.6);
}

#section3>div:hover{
	background-color: rgba(162, 213, 87,0.6);
}

.blurbg-top{
	cursor: pointer;
	position: relative;
	display: inline-block;
	top:350px;
	width:225px;
	color:white;
	font-size: 22px;
	font-weight: bold;
	font-family: sans-serif;
	list-style-type: none;
	transition: all 0.3s ease;
	padding: 0;
}


.blurbg-top-click{
	transform: scale(0.7,0.7) translateY(-350px);
}

#search-fs{
	background: url("featuressprite.png") 0 0 no-repeat;
	height: 250px;
}

#video-fs{
	background: url("featuressprite.png") -558px 0 no-repeat;
	height: 250px;
}

#mobile-fs{
	background: url("featuressprite.png") -1118px 0 no-repeat;
	height: 250px;
}

#section4{
	text-align: center;
	font-size: 70px;
	font-family: sans-serif;
	padding-top: 150px;
}

#why{
	margin-top: 50px;
	font-size: 25px;
	line-height: 1.7;
	opacity: 0.8;
}

#hr1{
	width:8%;
	border-color: #a2d557;
	border-width: 1.5px;
	margin-top: 50px;
}

.setsprite{
	display: inline-block;
	width:100px;
	height:80px;
}

#section5{
	text-align: center;
}

#money-ss{
	background: url("settingssprite.png") 0 0 no-repeat;
}

#badge-ss{
	background: url("settingssprite.png") -365px 0 no-repeat;
}

#tools-ss{
	background: url("settingssprite.png") -750px 0 no-repeat;
}

#graph-ss{
	background: url("settingssprite.png") -1150px 0 no-repeat;
}

.setsprite-div{
	display: inline-block;
	width:280px;
	vertical-align: top;
}

.setsprite-text{
	text-align: center;
	font-size: 22px;
	line-height:1.5;
	display: inline-block;
	font-weight: bold;
	margin-top: 30px;
	list-style-type: none;
	padding: 0px;
}

#section6{
	background-color: #eeeff4;
	height:650px;
	margin-top: 100px;
	padding-top:80px;
	padding-bottom: 20px;
}

.parts{
	display: inline-block;
	width:49%;
	height:580px;
}

#part1{
	border-right: 3px solid #a2d557;
}

.accsprite{
	display: block;
	width:120px;
	height:100px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

#report-as{
	background: url("accountsprite.png") 0 0 no-repeat;
}

#am-as{
	background: url("accountsprite.png") -850px 0 no-repeat;
}

.p-reporting-am{
	font-size: 37px;
	font-weight: bold;
	margin-top: 0px;
	text-align: center;
}

.p-desc{
	text-align: center;
	font-size: 25px;
	line-height: 1.5;
}

#section7{
	background: url("slide6.jpg");
	background-size: contain;
	height:700px;
}

#slide6{
	text-align: center;
	color:white;
	font-family: sans-serif;
	position: relative;
	top:130px;
}

#thryve4cauz{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 40px;	
}

#dngright{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;	
}

#sec7img2{
	display:none;
}

#slide6-content{
	font-size: 25px;
	line-height: 1.5;
	opacity: 0.8;
	margin-bottom: 60px;
}

.reachus-desp{
	text-align: center;
	font-family: sans-serif;
}

#ru{
	font-size: 60px;
	padding-top: 150px;
}

#lets{
	margin-top: 30px;
	font-size: 25px;
}

.details{
	display: inline-block;
	margin-top: 50px;
	height:380px;
	padding: 10px;
}

#form{
	margin-left: 220px;
	border-right: 3px solid #a2d557;
	width:42%;
	vertical-align: top;
}

.textbox{
	border: none;
	background-color: #eef4f6;
	padding: 15px;
	width:60%;
	margin-bottom: 20px;
}

#msg{
	width:80%;
	resize: none;
}

#connect{
	width:65%;
	background-color: #a2d557;
	border:none;
	border-radius: 5px;
	padding:10px;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}

#contact{
	width:30%;
	margin-left: 40px;
}

.cs{
	display: block;
	width:220px;
	height:50px;
}

.cs-text{
	margin-bottom: 55px;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
}

.cs-text:hover{
	text-decoration: underline;
}

#call-cs{
	background: url("contactsprite.png") 0 0 no-repeat;
}

#loc-cs{
	background: url("contactsprite.png") 0 -170px no-repeat;
}

#eml-cs{
	background: url("contactsprite.png") 0 -340px no-repeat;
	margin-bottom: 0px;
}

#section9{
	background-image: url("slide8.jpg");
	background-size: cover;
	background-position: center;
	height:490px;
	margin-top: 120px;
}

#sec9-text{
	font-family: courier;
	font-size: 110px;
	text-align: center;
	color: white;
	position: relative;
	top: 200px;
}

#section10{
	background: #a2d557;
	height: 180px;
}

.sec10parts{
	display: inline-block;
	width:49%;
	text-align: center;
	padding-top: 50px;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}

#sec10pt2{
	vertical-align: top;
	font-size: 25px;
}

#social{
	padding-left: 20px;
	vertical-align: middle;
}

#social:hover{
	opacity: 0.5;
}

#copyright{
	font-size: 15px;
	text-align: center;
}

@media screen and (min-width: 768px) and  (max-width: 1200px){

	#section1{
	height:615px;
	background-position: center;
	}

	#pos-sec1{
	top: 135px;
	}

	#quote-top {
	font-size: 60px;
	}

	.svm-top{
	margin-bottom: 45px;
	margin-top: 52px;
	}

	.abtus-top{
	font-size: 18px;
	margin-left: 30px;
	margin-bottom: 20px;
	}

	.nav-fix{
	height: 53px;
	}

	@keyframes example{
	0%{
		transform: scale(0,0);
		width:0px;
	}
	
	100%{
		transform: scale(0.2,0.2);
		width:90px;
	}
	}

	@keyframes example2{
	0%{
		transform: scale(0.2,0.2);
		width:90px;
	}
	
	100%{
		transform: scale(0,0);
		width:0px;
	}
	}

	#section2{
	padding-top: 70px;
	font-size: 40px;
	}

	#descrip{
	font-size: 18px;
	}

	.partners{
	margin-left: 20px;
	margin-right: 20px;
	width:100px; 
	}

	#section3{
	height:700px;
	margin-top: 70px;
	}

	.black-dual{
	height: 700px;
	}

	.black-dual-p{
	top:70px;
	font-size: 13px;
	}

	.blurbg-top{
	top:250px;
	width:125px;
	margin-left: 0px;
	font-size: 18px;
	transition: scale(0.2,0.2);
	}

	.blurbg-top-click{
	transform: scale(0.7,0.7) translateY(-200px);
	}

	#search-fs{
	height: 125px;
	background-size: cover;
	}

	#video-fs{
	height: 125px;
	background: url("featuressprite.png") -310px 0 no-repeat;
	background-size: cover;
	}

	#mobile-fs{
	height: 125px;
	background: url("featuressprite.png") -621px 0 no-repeat;
	background-size: cover;
	}

	#section4{
	font-size: 40px;
	padding-top: 110px;
	}

	#why{
	margin-top: 20px;
	font-size: 17px;
	}

	#hr1{
	margin-top: 35px;
	}

	.setsprite{
	width:50px;
	height:50px;
	}

	#money-ss{
	background: url("settingssprite.png") 0 0 no-repeat;
	background-size: cover;
	}

	#badge-ss{
	background: url("settingssprite.png") -280px 0 no-repeat;
	background-size: cover;
	}

	#tools-ss{
	background: url("settingssprite.png") -575px 0 no-repeat;	
	background-size: cover;
	}

	#graph-ss{
	background: url("settingssprite.png") -863px 0 no-repeat;
	background-size: cover;
	}

	.setsprite-text{
	font-size: 19px;
	margin-top: 30px;
	}

	#section6{
	height:550px;
	margin-top: 50px;
	padding-top:50px;
	}

	.parts{
	height:500px;
	}

	.accsprite{
	width:80px;
	height:70px;
	margin-top: 50px;
	}

	#report-as{
	background: url("accountsprite.png") 0 0 no-repeat;
	background-size: cover;
	}

	#am-as{
	background: url("accountsprite.png") -590px 0 no-repeat;
	background-size: cover;
	}

	.p-reporting-am{
	font-size: 27px;	
	}

	.p-desc{
	font-size: 20px;
	}

	#section7{
	height:450px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}

	#slide6{
	top:70px;
	}

	#thryve4cauz{
	font-size: 38px;
	margin-bottom: 18px;	
	}

	#dngright{
	font-size: 24px;
	margin-bottom: 15px;	
	}

	#slide6-content{
	font-size: 18px;
	margin-bottom: 40px;
	}

	#sec7img{
		height:75px;
	}

	#ru{
	font-size: 40px;
	padding-top: 70px;
	}

	#lets{
	margin-top: 20px;
	font-size: 22px;
	}

	.details{
	margin-top: 30px;
	height:350px;
	}

	#form{
	margin-left: 85px;
	}

	#connect{
	padding:8px;
	font-size: 18px;
	}

	.cs{
	font-size: 15px;
	}

	#section9{
	background-size: cover;
	background-repeat: no-repeat;
	height:237px;
	margin-top: 70px;
	}

	#sec9-text{
	font-size: 80px;
	top: 70px;
	}

	#section10{
	height: 200px;
	}

	.sec10parts{
	padding-top: 50px;
	font-size: 18px;
	}

}

@media screen and (max-width: 768px){

	#section1{
	height:615px;
	background-position: 75% 28%;
	background-size: auto;
	}

	#pos-sec1{
	top: 90px;
	}

	#quote-top {
	font-size: 30px;
	}

	.svm-top{
	font-size: 20px;
	margin-bottom: 45px;
	margin-top: 45px;
	}

	.abtus-top{
		display: none;
	}

	.abtus-top2{
		display: block;
		width:100%;
		background-color: rgba(162, 213, 87,0.9);
		margin: 0;
		font-size: 25px;
		padding: 10px;
		z-index: 1;
		top:45px;
		position: relative;
	}

	.abtus-top:hover{
	border-bottom:rgba(162, 213, 87,0.9);
	}

	.nav-fix{
		height:45px;
	}

	#section2{
	padding-top: 70px;
	font-size: 35px;
	}

	#descrip{
	font-size: 20px;
	}

	#br1{
	display: block;
	}

	.partners{
	margin-left: 20px;
	margin-right: 20px;
	width:140px; 
	}

	#section3{
	height:1650px;
	margin-top: 70px;
	background: #eeeff4;
	}

	.black-dual{
	display: block;
	height: 550px;
	width:100%;
	background-color: rgba(1,1,1,0);
	text-align: center;
	}

	.black-dual-p{
	display: block;
	color: black;
	position: relative;
	top:50px;
	font-size: 22px;
	}

	.bg-img{
	display: none;
	}

	#section3>div:nth-child(2){
	background-color: rgba(1,1,1,0);
	}

	#section3>div:hover{
	background-color: #eeeff4;
	}

	.blurbg-top{
	cursor: default;
	top:90px;
	width:125px;
	color:black;
	font-size: 22px;
	transition: none;
	}

	.blurbg-top li{
	margin-bottom: 25px;
	}

	.blurbg-top-click{
	transform: none;
	}

	#search-fs{
	height: 125px;
	background-size: cover;
	}

	#video-fs{
	height: 125px;
	background: url("featuressprite.png") -310px 0 no-repeat;
	background-size: cover;
	}

	#mobile-fs{
	height: 125px;
	background: url("featuressprite.png") -621px 0 no-repeat;
	background-size: cover;
	}

	#section4{
	font-size: 40px;
	padding-top: 80px;
	}

	#why{
	margin-top: 20px;
	font-size: 22px;
	}

	.br2{
		display: none;
	}

	#hr1{
	margin-top: 35px;
	width:20%;
	}

	.setsprite-div{
		width:400px;
	}

	.setsprite{
	width:50px;
	height:50px;
	}

	#money-ss{
	background: url("settingssprite.png") 0 0 no-repeat;
	background-size: cover;
	}

	#badge-ss{
	background: url("settingssprite.png") -280px 0 no-repeat;
	background-size: cover;
	}

	#tools-ss{
	background: url("settingssprite.png") -575px 0 no-repeat;	
	background-size: cover;
	}

	#graph-ss{
	background: url("settingssprite.png") -863px 0 no-repeat;
	background-size: cover;
	}

	.setsprite-text{
	font-size: 19px;
	margin-top: 30px;
	}


	#section6{
	height:750px;
	margin-top: 50px;
	padding-top:50px;
	}

	.parts{
	display: block;
	width:100%;
	height:320px;
	}

	#part1{
	border-bottom: 3px solid #a2d557;
	border-right: none;
	}

	.accsprite{
	width:80px;
	height:70px;
	margin-top: 50px;
	}

	#report-as{
	background: url("accountsprite.png") 0 0 no-repeat;
	background-size: cover;
	}

	#am-as{
	background: url("accountsprite.png") -590px 0 no-repeat;
	background-size: cover;
	}

	.p-reporting-am{
	font-size: 27px;	
	}

	.p-desc{
	font-size: 20px;
	}

	#section7{
	height:600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}

	#slide6{
	top:80px;
	}

	#thryve4cauz{
	font-size: 40px;
	margin-bottom: 18px;	
	}

	#dngright{
	font-size: 28px;
	margin-bottom: 15px;	
	}

	#slide6-content{
	font-size: 22px;
	margin-bottom: 40px;
	}

	#sec7img{
		display: none;
	}

	#sec7img2{
		display:block;
		margin:auto;
	}

	#ru{
	font-size: 35px;
	padding-top: 70px;
	}

	#lets{
	margin-top: 20px;
	font-size: 22px;
	}

	.details{
	display: block;
	width:95%;
	margin-top: 30px;
	height:350px;
	text-align: center;
	}

	#form{
	margin-left: 0px;
	border-right: none;
	width:100%;
	padding:0px;
	height:50%;
	}

	.textbox{
	width:85%;
	}

	#msg{
	width:85%;
	}

	#connect{
	width:90%;
	}

	#contact{
	width:100%;
	margin-left: 0px;
	padding:0px;
	}

	.cs{
	width:100%;
	}

	#call-cs{
		background-position: 50% 0%;
	}

	#loc-cs{
	background-position: 50% 54%;
	}

	#eml-cs{
	background-position: 50% 105%;
	}

	#section9{
	background-position: 25% 10%;
	background-size: 220% 120%;
	background-repeat: no-repeat;
	height:300px;
	margin-top: 90px;
	}

	#sec9-text{
	font-size: 80px;
	top: 70px;
	}

	#section10{
	height: 320px;
	}

	.sec10parts{
	display: block;
	width:100%;
	}

	#social{
		padding-top: 15px;
	}

}