body {
	margin: 0;
	padding: 0;
	background-image: url("subtle_dot.png");
	background-repeat: repeat;
}

a{
	text-decoration: none;
}

#section1{
	background-image: url("bg-slide1.jpg");
	height: 665px;
	background-size: cover;
	background-attachment: fixed;
}

#pos-sec1{
	top: 190px;
	text-align: center;
	position: relative;
	color: white;
}

#logo {
	height:110px;
	width:340px;
	cursor: pointer;
}

#quote-top {
	font-size: 80px;
	font-family: sans-serif;
	margin-top: 35px;
}

.svm-top{
	color: rgba(255,255,255,0.7);
	font-size: 30px;
	font-family: sans-serif;
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 35px;
	border-right: 1px solid white;
	cursor: pointer;
}

#mobile{
	border-right: none;
}

.abtus-top{
	color: white;
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	margin-left: 70px;
	margin-top: 20px;
	cursor: pointer;
}

.abtus-top:hover{
	border-bottom: 3px solid #a2d557;
}

#nav:hover{
	background-color: rgba(1,1,1,0.7);
	padding-bottom: 28px;
}

#section2{
	text-align: center;
	padding-top: 100px;
	font-size: 50px;
	font-family: sans-serif;
}

#descrip{
	font-size: 30px;
	color: rgba(0,0,0,0.8);
}

.coloured{
	color: #a2d557;
	line-height: 3;
	font-weight: bold;
}

.partners{
	margin-right: 40px; 
}

#section3{
	background: url("blurbg-slide2.jpg");
	height:1050px;
	background-size: cover;
	margin-top: 120px;
}

#section3>div:hover{
	background-color: rgba(162, 213, 87,0.6) !important;
}

.black-dual{
	display: inline-block;
	width:449px;
	height: 1050px;
	background-color: rgba(1,1,1,0.4);
	vertical-align: top;
}

.black-dual-p{
	display: none;
	color: white;
	position: relative;
	top:100px;
	font-size: 22px;
	text-align: center;
}

.bg-img{
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 50%;
	padding: 5px;
}

.bg-img:hover{
	border-color: white;
}

#section3>div:nth-child(2){
	background-color: rgba(1,1,1,0.6);
}

.blurbg-top{
	cursor: pointer;
	position: relative;
	display: inline-block;
	top:350px;
	width:225px;
	margin-left: 90px;
	color:white;
	font-size: 22px;
	font-weight: bold;
	font-family: sans-serif;
	list-style-type: none;
	text-align: center;
}


.blurbg-top-click{
	transform: scale(0.7,0.7) translateY(-350px);
}

#search-fs{
	background: url("featuressprite.png") 0 0 no-repeat;
	height: 250px;
}

#video-fs{
	background: url("featuressprite.png") -558px 0 no-repeat;
	height: 250px;
}

#mobile-fs{
	background: url("featuressprite.png") -1118px 0 no-repeat;
	height: 250px;
}

#section4{
	text-align: center;
	margin-top: 120px;
	font-size: 70px;
	font-family: sans-serif;
}

#why{
	margin-top: 50px;
	font-size: 25px;
	line-height: 1.7;
	opacity: 0.8;
}

#hr1{
	width:8%;
	border-color: #a2d557;
	border-width: 1.5px;
	margin-top: 50px;
}

.setsprite{
	display: inline-block;
	width:100px;
	height:80px;
}

#money-ss{
	background: url("settingssprite.png") 0 0 no-repeat;
}

#badge-ss{
	background: url("settingssprite.png") -365px 0 no-repeat;
}

#tools-ss{
	background: url("settingssprite.png") -750px 0 no-repeat;
}

#graph-ss{
	background: url("settingssprite.png") -1150px 0 no-repeat;
}

.setsprite-div{
	display: inline-block;
	width:275px;
	vertical-align: top;
	margin-left: 50px;
}

.setsprite-text{
	text-align: center;
	font-size: 22px;
	line-height:1.5;
	display: inline-block;
	font-weight: bold;
	margin-top: 30px;
	list-style-type: none;
}

#section6{
	background-color: #eeeff4;
	height:650px;
	margin-top: 100px;
	padding-top:80px;
	padding-bottom: 20px;
}

.parts{
	display: inline-block;
	width:650px;
	height:580px;
}

#part1{
	border-right: 3px solid #a2d557;
}

.accsprite{
	display: block;
	width:120px;
	height:100px;
	margin-top: 80px;
	margin-left: 270px;
}

#report-as{
	background: url("accountsprite.png") 0 0 no-repeat;
}

#am-as{
	background: url("accountsprite.png") -850px 0 no-repeat;
}

.p-reporting-am{
	text-align: center;
	font-size: 37px;
	font-weight: bold;
	margin-top: 0px;
}

.p-desc{
	text-align: center;
	font-size: 25px;
	line-height: 1.5;
}

#section7{
	background: url("slide6.jpg");
	background-size: contain;
	height:700px;
}

#slide6{
	text-align: center;
	color:white;
	font-family: sans-serif;
	position: relative;
	top:130px;
}

#thryve4cauz{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 40px;	
}

#dngright{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;	
}

#slide6-content{
	font-size: 25px;
	line-height: 1.5;
	opacity: 0.8;
	margin-bottom: 60px;
}

.reachus-desp{
	text-align: center;
	font-family: sans-serif;
}

#ru{
	font-size: 60px;
	margin-top: 150px;
}

#lets{
	margin-top: 30px;
	font-size: 25px;
}

.details{
	display: inline-block;
	margin-top: 50px;
	height:380px;
	padding: 10px;
}

#form{
	margin-left: 220px;
	border-right: 3px solid #a2d557;
	width:42%;
	vertical-align: top;
}

.textbox{
	border: none;
	background-color: #eef4f6;
	padding: 15px;
	width:60%;
	margin-bottom: 20px;
}

#msg{
	width:80%;
	resize: none;
}

#connect{
	width:65%;
	background-color: #a2d557;
	border:none;
	border-radius: 5px;
	padding:10px;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}

#contact{
	width:30%;
	margin-left: 40px;
}

.cs{
	display: block;
	width:220px;
	padding-top: 50px;
	margin-bottom: 55px;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
}

.cs:hover{
	text-decoration: underline;
}

#call-cs{
	background: url("contactsprite.png") 0 0 no-repeat;
}

#loc-cs{
	background: url("contactsprite.png") 0 -170px no-repeat;
}

#eml-cs{
	background: url("contactsprite.png") 0 -340px no-repeat;
	margin-bottom: 0px;
}

#section9{
	background-image: url("slide8.jpg");
	background-size: cover;
	background-position: center;
	height:490px;
	margin-top: 120px;
}

#sec9-text{
	font-family: courier;
	font-size: 110px;
	text-align: center;
	color: white;
	position: relative;
	top: 200px;
}

#section10{
	background: #a2d557;
	height: 180px;
}

.sec10parts{
	display: inline-block;
	width:650px;
	text-align: center;
	padding-top: 50px;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}

#sec10pt2{
	vertical-align: top;
	font-size: 25px;
}

#social{
	padding-left: 20px;
	vertical-align: middle;
}

#social:hover{
	opacity: 0.5;
}

#copyright{
	font-size: 15px;
	text-align: left;
	padding-left: 150px;
}